Popup .Msg {
  width: 500px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 15px;
  margin: 10% auto 0;
  text-align: center;
}

.Msg h2 {
  color: var(--Fifth-color);
}

.Msg h5 {
  color: var(--Second-color);
  margin-top: 1rem;
  font-size: 0.9rem;
}

.Button-Close {
  background: #f4f4f4;
  padding: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-weight: 700;
  border: 1px solid gray;
}
.pop {
  background: red;
}
.footer {
  display: flex;
  justify-content: flex-end;
}
.bdy {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.btn {
  margin-right: 10px;
}
.Next {
  margin-top: 10px;
}
